body {
    margin: 0;
}
ul {
    padding: 0;
}
.none {
    display: none !important;
}
::-webkit-input-placeholder,
.multislter-holder {
    color: #999 !important;
}
.multislter-mask {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,.6);
    z-index: 999;
    -webkit-transition: all .3s;
    transition: all .3s;
}
.multislter-mask .multislter-item {
    background: #fff;
    position: absolute;
    bottom: 0;
    left: 0;
    overflow: hidden;
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    box-sizing: border-box;
    width: 100%;
    height: 42%;
    min-height: 250px;
    -webkit-transition: all .3s;
    transition: all .3s;
}
.multislter-mask .multislter-item.slter-hide {
    opacity: 0;
    -webkit-transform: translate3d(0,250px,0);
    transform: translate3d(0,250px,0);
}
.multislter-mask .action-wrap {
    box-sizing: border-box;
    padding: 13px 15px;
    line-height: 17px;
    background: #f6f6f6;
    height: 45px;
    box-sizing: border-box;
}
.multislter-mask .action-wrap span {
    font-size: 17px;
    color: #999;
}
.multislter-mask .action-wrap span:last-child {
    float: right;
    color: #f96;
}
.multislter-mask .slter-wrap {
    position: relative;
    display: -webkit-box;
    height: 255px;
    overflow: hidden;
}
.multislter-mask .slter-wrap .list-wrap {
    -webkit-box-flex: 1;
}
.multislter-mask .slter-wrap ul {
    text-align: center;
    line-height: 45px;
    font-size: 19px;
    color: #555;
    border-right: 1px solid #eaeaea;
}
.multislter-mask .list-wrap:last-child ul {
    border-right: none;
}
.multislter-mask .slter-wrap li {
    position: relative;
    height: 45px;
    overflow: hidden;
}
.multislter-mask .slter-wrap li::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 1px;
    background: #f5f5f5;
    width: 100%;
}
.multislter-mask .slter-wrap li.last::after {
    content: "";
    height: 0;
}
.multislter-mask .slter-wrap li.selected {
    color: #f96;
}
.multislter-item .disabled {
    color: #999;
}