.demo {
    padding-top: 10px;
    padding-left: 15px;
}
.demo>h2 {
    margin: 10px;
}
.demo>h2>sub {
    font-size: 16px;
    color: #999;
    vertical-align: baseline;
}
.demo>div {
    margin-bottom: 15px;
}
.demo span {
    display: block;
    width: 100%;
    line-height: 2;
    padding-left: 20px;
    color: #f96;
    background: #eee;
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
}
.slter-wrap .list-wrap:first-child .cur {
    color: #ff7148;
}
.slter-wrap .list-wrap .cur {
    color: #93b1c6;
}
.slter-wrap .list-wrap:last-child .cur {
    color: #e2da99;
}
.demo-sltedClassName span {
    color: #5e93a0;
}